# Check the following documentation for further details
# https://github.com/codecov/codecov-action

name: pytest

# The following chooses at which steps this `action`
# should be triggered. 
# If one wants to run this action at very `push` set:
# `on: [push]`
on:
  push:
    branches:
      - never

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7]
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    # # For Conda, comment the `Setup python` above and
    # # use the following
    # - name: Setup Conda
    #   uses: goanpeca/setup-miniconda@v1
    #   with:
    #     python-version: ${{ matrix.python-version }}
    #     auto-update-conda: true
    - name: Install package with the dependencies
      run: |
        # conda info
        python -m pip install --upgrade pip
        pip install .
    - name: Test code coverage
      run: |
        pip install .[tests]
        pytest --cov=./src/<package_name> --cov-report=xml
    - name: Upload coverage report
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
